upstream microservice1 {
    server 127.0.0.1:3000/api/;
}

upstream microservice2 {
    server 127.0.0.1:3001/api/;
}

upstream microservice3 {
    server 127.0.0.1:3002/api/;
}

server {
    listen 80;

    location /api/ {
        proxy_pass http://microservice1/;
    }

    location /api/ {
        proxy_pass http://microservice2/;
    }

    location /api/ {
        proxy_pass http://microservice3/;
    }
}

