
:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #0083c4;
  
    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;
  }
  
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: #0083c4;
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
url("https://media.istockphoto.com/id/1175314487/photo/old-books-on-blue-background.webp?b=1&s=170667a&w=0&k=20&c=3FCcY3U07p6UPwKG1NymtHzdld9tygOhdGYJx1RbcKM=");
    background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

.logo {
    height: 5.2rem;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  
  .nav a:link,
  .nav a:visited {
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .nav a:global(.active) {
    color: var(--color-brand--2);
  }
  
  a.ctaLink:link,
  a.ctaLink:visited {
    background-color:#0083c4;
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 7px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Manrope", sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
  }
  
  label {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .input,
  textarea {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    color: #242a2e;
    background-color: var(--color-light--3);
    transition: all 0.2s;
  }
  
  .input:focus {
    outline: none;
    /* background-color: #fff; */
  }
  
  .cta:link,
  .cta:visited {
    display: inline-block;
    background-color: #0083c4;
    color: var(--color-dark--1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 5px;
  }
  
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

.nav {
display: flex;
align-items: center;
justify-content: space-between;
}

.nav ul {
list-style: none;
display: flex;
align-items: center;
gap: 4rem;
}

.nav a:link,
.nav a:visited {
text-decoration: none;
color: var(--color-light--2);
text-transform: uppercase;
font-size: 1.5rem;
font-weight: 600;
}

.nav a:global(.active) {
color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
background-color: #0083c4;
color: var(--color-dark--0);
padding: 0.8rem 2rem;
border-radius: 7px;
}

.homepage {
height: calc(100vh - 5rem);
margin: 2.5rem;
background-image: linear-gradient(
    rgba(36, 42, 46, 0.8),
    rgba(36, 42, 46, 0.8)
  ),
  url("https://media.istockphoto.com/id/1175314487/photo/old-books-on-blue-background.webp?b=1&s=170667a&w=0&k=20&c=3FCcY3U07p6UPwKG1NymtHzdld9tygOhdGYJx1RbcKM=");
background-size: cover;
background-position: center;
padding: 2.5rem 5rem;
}

.homepage section {
display: flex;
flex-direction: column;
height: 85%;
align-items: center;
justify-content: center;
gap: 2.5rem;
text-align: center;
}

.homepage h1 {
font-size: 4.5rem;
line-height: 1.3;
}

.homepage h2 {
width: 90%;
font-size: 1.9rem;
color: var(--color-light--1);
margin-bottom: 2.5rem;
}

.logo {
  height: 5.2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

select{
  color: #242a2e;
margin-left: 14px;
}